.lead__subtitle {
    font-family: 'Inter', sans-serif;
    width: 720px;
    height: 72px;
    margin-left: 132px;
    margin-right: 132px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
}