@media screen and (max-width: 320px){
    
    .page {
        margin: 0 auto 0 auto;
        width: 320px;
    }

    .logo {
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
    }

    .lead {
        width: 319px;
        height: 208px;
        margin-left: auto;
        margin-right: auto;
    }

    .lead__title {
        width: 223px;
        height: 176px;
        margin-left: auto;
        margin-right: auto;
        font-family: Inter;
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    }

    .lead__subtitle {
        width: 260px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    }

    .lead-img {
        width: 319px;
        height: 200px;
        margin-top: 20px;
    }

    .intro {
        width: 304px;
        height: 928px;
        margin: -1000px auto 0 auto;
    }

    .intro__title {
        width: 304px;
        height: 175px;
        font-family: Inter;
        font-size: 32px;
        font-weight: 900;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }

    .intro__subtitle {
        width: 288px;
        height: 300px;
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: -20px;
        color: #FFFFFF;
    }

    .intro__sign {
        width: 288px;
        height: 34px;
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: right;
        color: #FFFFFF;
    }

    .intro__story {
        width: 288px;
        height: 432px;
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;       
    }
    .photo-grid {
        width: 288px;
        grid-template-columns: 1fr;
        margin-top: -950px;
        margin-left: auto;
        margin-right: auto;
        gap: 16px;
    }

    .grid-img {
        width: 288px;
        height: 216px;
    }
    .places {
        width: 320px;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
    }

    .place {
        width: 320px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }

    .place__title {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        width: 288px;
        margin-top: 50px;
        font-family: Inter;
        font-size: 32px;
        font-weight: 900;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }

    .place-img {
        display: grid;
        grid-column: 1;
        grid-row: 3;
        width: 320px;
        height: 320px;
    }

    .frame {
        display: grid;
        grid-column: 1;
        grid-row: 5;
        width: 288px;
        padding: 13px 20px 13px 20px;
        border-radius: 4px;
        gap: 10px;
    }
    
    .frame p {
        width: 264px;
        height: 44px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF; 
    }

    .website {
        display: grid;
        grid-column: 1;
        grid-row: 2;
        width: 288px;
        margin-top: 0px;
    }

    .url-heading {
        display: grid;
        width: 288px;
        height: 15px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0.12em;
        text-align: left;
        color: rgba(170, 170, 170, 1);
    }

    .artist {
        display: grid;
        width: 288px;
        margin-top: 0;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;   
    }
    
    .place__story {
        display: grid;
        grid-column: 1;
        grid-row: 4;
        width: 288px;
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;   
    }

    .cover {
        width: 320px;
        height: 254px;
    }

    .cover h2 {
        width: 288px;
        height: 35px;
        font-family: Inter;
        font-size: 32px;
        font-weight: 900;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    }

    .cover h6 {
        width: 280px;
        height: 48px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    }

    .cover-img {
        width: 320px;
        height: 254px;
    }

    .contact {
        width: 288px;
        height: 163px;
        margin: auto;
        position: relative;
        left: 5px;
        top: -220px;
    }

    .footer {
        width: 205px;
        height: 28px;
        margin: -1330px auto 0 auto;
    }

    .footer__author {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
}