.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -10px;
    top: -500px;
}

@media screen and (max-width: 320px){
    
    .contact {
        width: 288px;
        height: 163px;
        margin: auto;
        position: relative;
        left: 5px;
        top: -220px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    
    .contact {
        width: 656px;
        height: 254px;
        margin: auto;
    }
}