.frame {
    display: grid;
    grid-column: 1;
    grid-row: 3;
    width: 304px;
    height: 48px;
    margin-top: 30px;
    padding: 13px 20px 13px 20px;
    border-radius: 4px;
    gap: 10px;
}

.frame p {
    width: 264px;
    height: 22px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;    
}

@media screen and (max-width: 320px){
    
    .frame {
        display: grid;
        grid-column: 1;
        grid-row: 5;
        width: 288px;
        padding: 13px 20px 13px 20px;
        border-radius: 4px;
        gap: 10px;
    }
    
    .frame p {
        width: 264px;
        height: 44px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF; 
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    
    .frame {
        display: grid;
        grid-column: 1;
        grid-row: 3;
        width: 304px;
        margin-top: -95px;
        padding: 13px 20px 13px 20px;
        border-radius: 4px;
        gap: 10px;
    }
    
    .frame p {
        width: 264px;
        height: 22px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
}