.intro__story {
    width: 635px;
    height: 208px;
    margin-top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (max-width: 320px){
    
    .intro__story {
        width: 288px;
        height: 432px;
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;       
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    
    .intro__story {
        width: 720px;
        height: 208px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;    
    }
}