.lead {
    grid-area: lead;
    width: 984px;
    height: 983px;
    margin-left: auto;
    margin-right: auto;
}

.lead-img {
    width: 984px;
    height: 615px;
    margin-top: 64px;
    filter: grayscale(1);
}

@media screen and (max-width: 320px){
    .lead {
        width: 319px;
        height: 208px;
        margin-left: auto;
        margin-right: auto;
    }

    .lead-img {
        width: 319px;
        height: 200px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    
    .lead {
        width: 720px;
        margin: 90px auto 0 auto;
    }

    .lead-img {
        width: 768px;
        height: 480px;
        margin: 40px auto 0 auto;
        margin-left: -25px;
    }
}