.logo {
    grid-area: logo;
    width: 270px;
    height: 70px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 320px){
    .logo {
        margin-top: 35px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    
    .logo {
        width: 270px;
        height: 70px;
        margin-top: 35px;
    }
}