.photo-grid {
    grid-area: grid;
    height: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
    margin: auto;
    margin-bottom: 500px;
}

.grid-img {
    width: 100%;
    height: 213px;
}

@media screen and (max-width: 425px){
    
    .photo-grid {
        width: 288px;
        grid-template-columns: auto;
        margin-top: 0px;
        gap: 16px;
    }

    .grid-img {
        width: 288px;
        height: 216px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    
    .photo-grid {
        width: 720px;
        height: 1104px;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        gap: 16px;
    }

    .grid-img {
        width: 352px;
        height: 264px;
    }
}