@media screen and (min-width: 320px) and (max-width: 768px) {
    
    .page {
        margin: 0 auto 0 auto;
        width: 768px;
    }

    .logo {
        width: 270px;
        height: 70px;
        margin: 35px auto 0 auto;
    }

    .lead {
        width: 720px;
        margin: 90px auto 0 auto;
    }

    .lead__title {
        width: 537px;
        height: 400px;
        font-family: Inter;
        font-size: 96px;
        font-weight: 900;
        line-height: 100px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        margin: auto;
    }

    .lead__subtitle {
        width: 720px;
        height: 72px;
        font-family: Inter;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        margin: auto;
        color: #FFFFFF;
    }

    .lead-img {
        width: 768px;
        height: 480px;
        margin: 40px auto 0 auto;
        margin-left: -25px;
    }

    .intro {
        width: 720px;
    }

    .intro__title {
        width: 720px;
        height: 232px;
        font-family: Inter;
        font-size: 54px;
        font-weight: 900;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }

    .intro__subtitle {
        width: 720px;
        height: 170px;
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: -65px;
        color: #FFFFFF;
    }

    .intro__sign {
        width: 720px;
        height: 34px;
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: right;
        color: #FFFFFF;
    }

    .intro__story {
        width: 720px;
        height: 208px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;    
    }
    .photo-grid {
        width: 720px;
        height: 1104px;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        gap: 16px;
    }

    .grid-img {
        width: 352px;
        height: 264px;
    }
    .places {
        width: 768px;
        margin-top: 65px;
    }

    .place {
        width: 720px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
    }

    .place__title {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        width: 340px;
        margin-top: 0;
        font-family: Inter;
        font-size: 60px;
        font-weight: 900;
        line-height: 70px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }

    .place-img {
        display: grid;
        grid-column: 1;
        grid-row: 2;
        width: 340px;
        height: 340px;
    }

    .frame {
        display: grid;
        grid-column: 1;
        grid-row: 3;
        width: 304px;
        margin-top: -95px;
        padding: 13px 20px 13px 20px;
        border-radius: 4px;
        gap: 10px;
    }
    
    .frame p {
        width: 264px;
        height: 22px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }

    .website {
        display: grid;
        grid-column: 2;
        grid-row: 1;
        width: 309px;
        margin-top: 100px;
    }

    .url-heading {
        display: grid;
        width: 41px;
        height: 15px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.12em;
        text-align: left;
        color: rgba(170, 170, 170, 1);
    }

    .artist {
        display: grid;
        width: 309px;
        margin-top: 0;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
    
    .place__story {
        display: grid;
        grid-column: 2;
        width: 352px;
        margin-top: -25px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }

    .cover {
        width: 768px;
        height: 746px;
        margin-top: -85px;
    }

    .cover h2 {
        width: 656px;
        height: 76px;
        font-family: Inter;
        font-size: 72px;
        font-weight: 900;
        line-height: 76px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    }

    .cover h6 {
        width: 280px;
        height: 66px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    }

    .cover-img {
        width: 768px;
        height: 746px;
    }
    .contact {
        width: 656px;
        height: 254px;
        margin: auto;
    }
    .footer {
        width: 205px;
        height: 32px;
        margin: -400px auto 0 auto;
    }

    .footer__author {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: right;
        color: #FFFFFF;
    }
}