.lead__title {
    font-family: 'Inter', sans-serif;
    width: 793px;
    height: 200px;
    margin-left: 95px;
    margin-right: 96px;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
}